/*Contains everything, all products, that's why grid*/
.product-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 10px;
}
/*Product-box Individual box with all the info*/
.product-box {
  margin-bottom: 30px;
  display: grid;
  grid-auto-rows: auto 1fr auto;
  position: relative; /* For the middle placement of the button */
}
.product-box p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.product-box h6 {
  margin-top: 5px;
  margin-bottom: 0px;
}
/*Contains single elements like the img h and price*/
.product-info-link {
  display: grid;
  grid-auto-rows: auto 1fr auto;
  text-decoration: none;
}

.product-image-wrapper {
  width: 19vw; /* You can adjust width as needed */
  height: 300px;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
  overflow: hidden; /*for the image to stay the same size */
  width: 100%;
}
/**/
.product-image {
  aspect-ratio: 1 / 1; /* Square aspect ratio */
  object-fit: cover; /* Ensures image fills the whole area while maintaining aspect ratio */
  transition: transform 0.3s ease-in-out; /* Add smooth zoom transition */
}

.product-image-wrapper:hover .product-image {
  transform: scale(1.1); /* Zoom on hover */
  filter: brightness(0.7);
}
